* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

/* CSS VARIABLES */
:root {
    --blog-primary-color: #D9D9D9;
    --blog-secondary-color: whitesmoke;
    --blog-third-color: navy;
    --blog-primary-text-color: #000000;
    --blog-secondary-text-color: #fff;
    --blog-primary-padding: 2em;
    --blog-primary-margin: 2rem;
    --blog-section-padding: 1em;
    /* Dark mode variables go here */
}

/* General Settings *********************/
button {
    border: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    font-family: system-ui, serif;
    font-size: 32px;
    color: #1f2839;
}

/* Header Styling ***********************************/
header {
    background-color: var(--blog-primary-color);
    padding: var(--blog-primary-padding);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* SVG Settings ***/
img.logo {
    width: 150px;
    height: 150px;
}

img.svg-n {
    width: 60px;
    height: 60px;
    margin: 0.3rem;
}

img.svg-n:hover {
    cursor: pointer;
}

div.info-div {
    width: 60%;
}

p.p-header {
    text-align: center;
    font-weight: bold;
}

/* Main Section Styling *****/
main {
    background-color: var(--blog-secondary-color);
    height: 100%;
    display: flex;
    justify-content: space-around;
}

main aside {
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    width: 25%;
}

/* MAIN Aside Div *************************/
main aside div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 500px;
    padding: var(--blog-primary-padding);
}

main aside div p.button-p {
    font-size: 18px;
    font-weight: bolder;
    color: #1f2839;
}

button.btn,
button.sort {
    color: #1f2839;
    font-size: 16px;
    background-color: whitesmoke;
    transition: background-color 300ms ease-in-out;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.4rem 1rem 0.4rem 1rem;
}

button.btn:hover,
button.sort:hover {
    background-color: var(--blog-primary-color);
    cursor: pointer;
}

/* Section Blog Grid Styling *****************************/
section.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
    padding: 1rem;
    gap: 1rem;
}

section.blog-grid.sort {
    flex-direction: column-reverse;
}

span:after {
    content: 'Newest to oldest';
}

span.change:after {
    content: 'Oldest to newest';
}

/********** Post Card styling ******/
div.item {
    transition: transform 400ms ease;
}

div.item:hover {
    cursor: pointer;
}

div.item img {
    width: 100%;
    object-fit: cover;
}

div.blog-title {
    display: flex;
    margin-top: 0.8rem;
    font-weight: bolder;
    align-items: center;
    justify-content: space-between;
}

div.blog-title h2,
div.blog-title p {
    font-size: 20px;
    color: var(--blog-third-color);
}

div.blog-title p {
    padding: 0.33rem;
}

p.blog-p {
    color: var(--blog-primary-text-color);
    font-size: 18px;
    font-weight: 400;
    color: var(--blog-third-color);
}

/* Add MOBILE SCREEN MEDIA QUERIES */
@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main aside {
        background-color: transparent;
        position: sticky;
        top: 0px;
        left: 0;
        height: 140px;
        display: flex;
        width: 100%;
        z-index: 2;
    }

    section.blog-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    main aside div {
        flex-direction: row;
    }

}